body{
	
	background-color: #bcc3cc;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

ul{

	display: flex;
	align-items: center;
	margin: 0px;
	height: 70px;
	background-image: linear-gradient(to bottom, #93adcf, #8bb4e9 );
}

li{
	
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 20px 30px;

}

li:hover{

	background-image: linear-gradient(to top, #042a5c, #0959c2 );
	box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
p{
    text-align: left;
    font-size:30px;
}
.w{

	padding-right: 5%;
	flex-direction: row;

}